<div class="col-xs-8">
    <div class="input-group">
        <form name="addProgramForm">
            <input name="program" type="text" class="form-control" placeholder="Добавить новый диагноз"
                   ng-minlength="1" ng-required="true"
                   ng-model="programs.newProgram.program"/>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-success"
                    ng-click="addProgram();">Сохранить
            </button>
            <button type="button" class="btn btn-danger"
                    ng-click="nav.programsTabSelected = 1; programs.newProgram = {};">Закрыть
            </button>
        </div>
    </div>
</div>