<div class="container">
    <div class="row">

        <table class="table table-bordered">
            <thead>
            <th>ФИО</th>
            <th>Дата</th>
            </thead>
            <tbody>

            <tr ng-repeat="child in children.list"
                ng-class="{success: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false"
                ng-click="initChild(child._links.self.href); nav.childrenTabSelected = 2;">
                <td>{{child.familyName}} {{child.name}} {{child.patrName}}</td>
                <td>{{child.birthDate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li ng-click="getChildrenListByUrl(children.prevPage)"
                $scope.children.prevPage=response._links.pref.href;">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li ng-repeat="n in [].constructor(children.totalPages) track by $index"
                ng-class="{active: $index == children.currentPage}"
                ng-show="$index >= (children.currentPage-3) && $index <= (children.currentPage+3) ||
                            $index == 0 || $index == (children.totalPages - 1)"
                ng-click="getSurveysList($index)">
                <a href="#">
                    {{($index > 0 && $index < (children.totalPages-1) &&
                    ($index==(children.currentPage+3) || $index==(children.currentPage-3)))?
                    "...":
                    ($index+1)}}
                </a>
            </li>

            <li ng-click="getChildrenListByUrl(children.nextPage)">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
