<div class="row" ng-controller="ChildrenController" >

    <div class="col-xs-12" >

        <div>
            <ul class="nav nav-pills">
                <li role="presentation" ng-class="{'active': nav.childrenTabSelected== 1}"
                    ng-click="nav.childrenTabSelected= 1"><a href="#">Все</a></li>

                <li role="presentation" ng-class="{'active': nav.childrenTabSelected== 2}"
                    ng-show="nav.childrenTabSelected == 2"
                    ng-click="nav.childrenTabSelected= 2;"><a href="#">Редактирование</a></li>

            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane"
                     ng-class="{'active': nav.childrenTabSelected== 1}"
                     id="childrenAll">
                    @@include('./children-list.html')
                </div>

                <div ng-controller="ChildController" role="tabpanel" class="tab-pane"
                     ng-class="{'active': nav.childrenTabSelected== 2}"
                     id="childrenEdit">
                    @@include('./children-edit.html')
                </div>
            </div>
        </div>
    </div>
</div>
