<div class="col-xs-8">
    <div class="input-group">
        <form name="addDisorderForm">
            <input name="disorder" type="text" class="form-control" placeholder="Добавить новый диагноз"
                   ng-minlength="1" ng-required="true"
                   ng-model="disorders.newDisorder.disorder"/>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-success"
                    ng-click="addDisorder();">Сохранить
            </button>
            <button type="button" class="btn btn-danger"
                    ng-click="nav.disordersTabSelected = 1; disorders.newDisorder = {};">Закрыть
            </button>
        </div>
    </div>
</div>