<div class="col-xs-8">
    <div class="input-group">
        <form name="addRecommendationForm">
            <input name="recommendation" type="text" class="form-control" placeholder="Добавить новый диагноз"
                   ng-minlength="1" ng-required="true"
                   ng-model="recommendations.newRecommendation.recommendation"/>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-success"
                    ng-click="addRecommendation();">Сохранить
            </button>
            <button type="button" class="btn btn-danger"
                    ng-click="nav.recommendationsTabSelected = 1; recommendations.newRecommendation = {}; ">Закрыть
            </button>
        </div>
    </div>
</div>