<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Ребенок</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">Фамилия:</span>
                        <input type="text" class="form-control" placeholder="Фамилия" 
                               ng-model="child.familyName">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Имя:</span>
                        <input type="text" class="form-control" placeholder="Имя"
                               ng-model="child.name">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Отчество:</span>
                        <input type="text" class="form-control" placeholder="Отчество"
                               ng-model="child.patrName">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Дата рождения:</span>
                        <input type="date" class="form-control" placeholder="Фамилия"
                               ng-model="child.birthDate">
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">Адрес:</span>
                        <input type="text" class="form-control" placeholder=""
                               ng-model="child.address">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Учебное заведение:</span>
                        <input type="text" class="form-control" placeholder=""
                               ng-model="child.placeOfEducation">
                    </div>

                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" aria-label="..." ng-model="child.disability">
                      </span>
                        <input type="text" class="form-control" aria-label="..." value="Инвалидность" readonly>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" aria-label="..." ng-model="child.pecialFacilitiesNeeding">
                      </span>
                        <input type="text" class="form-control" aria-label="..." value="Нуждаемость в спец.средствах"
                               readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">ПМПК</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">Номер протокола:
                        <input type="text" class="form-control" placeholder=""
                               ng-model="survey.protocolNumber"></span>
                        <span class="input-group-addon">Дата обследования:
                        <input type="date" class="form-control" placeholder=""
                               ng-model="survey.surveyDate"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class=" panel panel-default">
                        <div class="panel-heading">Диагноз </div>
                        <div class="panel-body"
                             ng-init="getDiagnosesList();">
                            <div ng-repeat="i in selectedDiagnoses">
                                <select class="form-control" data-ng-model="selectedDiagnoses[$index]" 
                                    data-ng-options="item.diagnosis for item in diagnoses track by item.diagnosis">
                                    <option value=""></option>
                                </select>
                            </div>
                            <button class="btn btn-sm btn-default"
                                    ng-click="selectedDiagnoses.push({});">
                                Добавить
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" panel panel-default">
                        <div class="panel-heading">Выявленное нарушение</div>
                        <div class="panel-body"
                             ng-init="getDisordersList();">
                            <div ng-repeat="i in selectedDisorders">
                                <select class="form-control" data-ng-model="selectedDisorders[$index]" 
                                    data-ng-options="item.disorder for item in disorders track by item.disorder">
                                    <option value=""></option>
                                </select>
                            </div>
                            <button class="btn btn-sm btn-default"
                                    ng-click="selectedDisorders.push({});">
                                Добавить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class=" panel panel-default">
                        <div class="panel-heading">Программа</div>
                        <div class="panel-body" ng-init="getEducationProgramsList();">
                            <div ng-repeat="i in selectedPrograms">
                                <select class="form-control" data-ng-model="selectedPrograms[$index]" 
                                    data-ng-options="item.program for item in programs track by item.program">
                                    <option value=""></option>
                                </select>
                            </div>
                            <button class="btn btn-sm btn-default"
                                    ng-click="selectedPrograms.push({});">
                                Добавить
                            </button>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" panel panel-default">
                        <div class="panel-heading">Рекомендации</div>
                        <div class="panel-body" ng-init="getRrecommendationsList();">
                            <div ng-repeat="i in selectedRecommendations">
                                <select class="form-control" data-ng-model="selectedRecommendations[$index]" 
                                    data-ng-options="item.recommendation for item in recommendations track by item.recommendation">
                                    <option value=""></option>
                                </select>
                            </div>
                            <button class="btn btn-sm btn-default"
                                    ng-click="selectedRecommendations.push({});">
                                Добавить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
