<div class="row">
    <div class="col-xs-12">
        <div ng-init="surveysTabChosen = 1">
            <ul class="nav nav-pills">
                <li role="presentation" ng-class="{'active': surveysTabChosen == 1}"
                    ng-click="surveysTabChosen = 1"><a href="#">Все</a></li>

                <li role="presentation" ng-class="{'active': surveysTabChosen == 2}"
                    ng-click="surveysTabChosen = 2"><a href="#">Новое обследование</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" ng-class="{'active': surveysTabChosen == 1}" id="surveysPane1">

                </div>

                <div role="tabpanel" class="tab-pane" ng-class="{'active': surveysTabChosen == 2}" id="messages">
                    <ng-include src="'/content/surveys-add.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
