
<div class="panel panel-default" ng-controller="SurveyController">
    <div class="panel-heading">Ребенок</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon">Фамилия:</span>
                    <input type="text" class="form-control" placeholder="Фамилия"
                           ng-model="child.familyName">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Имя:</span>
                    <input type="text" class="form-control" placeholder="Имя"
                           ng-model="child.name">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Отчество:</span>
                    <input type="text" class="form-control" placeholder="Отчество"
                           ng-model="child.patrName">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Дата рождения:</span>
                    <input type="date" class="form-control" placeholder="Фамилия"
                           ng-model="child.birthDate">
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon">Адрес:</span>
                    <input type="text" class="form-control" placeholder=""
                           ng-model="child.address">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Учебное заведение:</span>
                    <input type="text" class="form-control" placeholder=""
                           ng-model="child.placeOfEducation">
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" aria-label="..." ng-model="child.disability">
                  </span>
                    <input type="text" class="form-control" aria-label="..." value="Инвалидность" readonly>
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" aria-label="..." ng-model="child.pecialFacilitiesNeeding">
                  </span>
                    <input type="text" class="form-control" aria-label="..." value="Нуждаемость в спец.средствах"
                           readonly>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-controller="SurveyController">
    <div class="panel-heading">ПМПК</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon">Номер протокола:
                    <input type="text" class="form-control" placeholder=""
                           ng-model="survey.protocolNumber"></span>
                    <span class="input-group-addon">Дата обследования:
                    <input type="date" class="form-control" placeholder=""
                           ng-model="survey.surveyDate"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class=" panel panel-default">
                    <div class="panel-heading">Диагноз</div>
                    <div class="panel-body"
                         ng-init="getDiagnosesList(); diagn_range = [0,]; diagn_list_size = 1; ">
                        <div ng-repeat="i in selectedDiagnoses">
                            <select class="form-control" data-ng-model="selectedDiagnoses[$index]" 
                                data-ng-options="item.diagnosis for item in diagnoses">
                                <option value=""></option>
                            </select>
                        </div>
                        <button class="btn btn-sm btn-default"
                                ng-click="selectedDiagnoses.push({});">
                            Еще
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" panel panel-default">
                    <div class="panel-heading">Выявленное нарушение</div>
                    <div class="panel-body"
                         ng-init="getDisordersList(); dis_range = [0,]; disorder_list_size = 1;">
                        <select class="form-control" ng-repeat="i in dis_range"
                                ng-model="selectedDisorders[i]">
                            <option></option>
                            <option ng-repeat="item in disorders" value={{item.href}}>{{item.disorder}}</option>
                        </select>
                        <button class="btn btn-sm btn-default"
                                ng-click="dis_range.push(disorder_list_size); disorder_list_size = disorder_list_size + 1;">
                            Еще
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class=" panel panel-default">
                    <div class="panel-heading">Программа</div>
                    <div class="panel-body" ng-init="getEducationProgramsList(); prog_range = [0]; prog_list_size = 1;">
                        <select class="form-control" ng-repeat="i in prog_range"
                                ng-model="selectedPrograms[i]">
                            <option></option>
                            <option ng-repeat="item in programs" value={{item.href}}>{{item.program}}</option>
                        </select>
                        <button class="btn btn-sm btn-default"
                                ng-click="prog_range.push(prog_list_size); prog_list_size = prog_list_size + 1;">
                            Еще
                        </button>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" panel panel-default">
                    <div class="panel-heading">Рекомендации</div>
                    <div class="panel-body" ng-init="getRrecommendationsList(); rec_range = [0]; rec_list_size = 1;">
                        <select class="form-control" ng-repeat="i in rec_range"
                                ng-model="selectedRecommendations[i]">
                            <option></option>
                            <option ng-repeat="item in recommendations" value={{item.href}}>{{item.recommendation}}
                            </option>
                        </select>
                        <button class="btn btn-sm btn-default"
                                ng-click="rec_range.push(rec_list_size); rec_list_size = rec_list_size + 1;">
                            Еще
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-success">Сохранить</button>
        <button type="button" class="btn btn-warning">Сброс</button>
        <button type="button" class="btn btn-danger" ng-click="surveysTabChosen = 1">Закрыть
        </button>
    </div>
</div>
