<div class="container">
    <div class="panel panel-default" >

        <div class="panel-heading">Ребенок</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">Фамилия:</span>
                        <input type="text" class="form-control" placeholder="Фамилия"
                               ng-model="children.currentChild.child.familyName">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Имя:</span>
                        <input type="text" class="form-control" placeholder="Имя"
                               ng-model="children.currentChild.child.name">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Отчество:</span>
                        <input type="text" class="form-control" placeholder="Отчество"
                               ng-model="children.currentChild.child.patrName">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Дата рождения:</span>
                        <input type="date" class="form-control" placeholder="Фамилия"
                               ng-model="children.currentChild.child.birthDate">
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">Адрес:</span>
                        <input type="text" class="form-control" placeholder=""
                               ng-model="children.currentChild.child.address">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Учебное заведение:</span>
                        <input type="text" class="form-control" placeholder=""
                               ng-model="children.currentChild.child.placeOfEducation">
                    </div>

                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" aria-label="..." ng-model="children.currentChild.child.disability">
                      </span>
                        <input type="text" class="form-control" aria-label="..." value="Инвалидность" disabled>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" aria-label="..." ng-model="children.currentChild.child.specialFacilitiesNeeding">
                      </span>
                        <input type="text" class="form-control" aria-label="..." value="Нуждаемость в спец.средствах"
                               disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">ПМПК</div>
        <div class="panel-body">
        </div>
    </div>
</div>
