<div class="container" ng-controller="DiagnosesController">
    @@include('./surveys-list-popup-window.html')
    <div class="row">

        <table class="table table-bordered">
            <thead>
            <th>Диагноз</th>
            </thead>
            <tbody>

                <tr ng-repeat="diagnosis in diagnoses.list"
                    ng-class="{success: hover}" ng-mouseenter="hover = true;"
                    ng-mouseleave="hover = false;"
                    ng-click="showList(diagnosis._links.surveys.href)">
                    <td>{{diagnosis.diagnosis}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-xs-8">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Добавить новый диагноз"
                   ng-model="diagnoses.newDiagnosis.diagnosis">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                        ng-click="addDiagnosis(); getDiagnosesList();">Сохранить</button>
            </span>
        </div>
    </div>
</div>
