<div class="container">
    <div class="panel panel-default" >

        <div class="panel-heading">Ребенок</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">Фамилия:</span>
                        <input type="text" class="form-control" placeholder="Фамилия"
                               ng-model="survey.child.familyName"
                               ng-blur="findChild(survey.child.familyName)">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Имя:</span>
                        <input type="text" class="form-control" placeholder="Имя"
                               ng-model="survey.child.name">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Отчество:</span>
                        <input type="text" class="form-control" placeholder="Отчество"
                               ng-model="survey.child.patrName">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Дата рождения:</span>
                        <input type="date" class="form-control" placeholder="Фамилия"
                               ng-model="survey.child.birthDate">
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">Адрес:</span>
                        <input type="text" class="form-control" placeholder=""
                               ng-model="survey.child.address">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Учебное заведение:</span>
                        <input type="text" class="form-control" placeholder=""
                               ng-model="survey.child.placeOfEducation">
                    </div>

                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" aria-label="..." ng-model="survey.child.disability">
                      </span>
                        <input type="text" class="form-control" aria-label="..." value="Инвалидность" disabled>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" aria-label="..." ng-model="survey.child.specialFacilitiesNeeding">
                      </span>
                        <input type="text" class="form-control" aria-label="..." value="Нуждаемость в спец.средствах"
                               disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">ПМПК</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">Номер протокола:
                        <input type="text" class="form-control" placeholder=""
                               ng-model="survey.protocolNumber"></span>
                        <span class="input-group-addon">Дата обследования:
                        <input type="date" class="form-control" placeholder=""
                               ng-model="survey.surveyDate"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class=" panel panel-default">
                        <div class="panel-heading">Диагноз</div>
                        <div class="panel-body"
                             ng-init="getDiagnosesList();">
                            <div class="col-xs-12 select-list-box">
                                <div ng-repeat="i in selectedDiagnoses">
                                    <select class="form-control select-list" data-ng-model="selectedDiagnoses[$index]"
                                            data-ng-options="item.diagnosis for item in diagnoses track by item.diagnosis">
                                    </select>
                                    <button class="btn btn-sm btn-default btn-del"
                                            ng-click="selectedDiagnoses.splice($index,1)">
                                        Удалить
                                    </button>
                                </div>
                                <button class="btn btn-sm btn-default"
                                        ng-click="selectedDiagnoses.push(null);">
                                    Добавить
                                </button>
                            </div>
                            <div class="col-xs-12">Текстовое описание:
                                <textarea class="form-control" ng-model="survey.diagnosis" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" panel panel-default">
                        <div class="panel-heading">Выявленное нарушение</div>
                        <div class="panel-body"
                             ng-init="getDisordersList();">
                            <div class="col-xs-12 select-list-box">
                                <div ng-repeat="i in selectedDisorders">
                                    <select class="form-control select-list" data-ng-model="selectedDisorders[$index]"
                                            data-ng-options="item.disorder for item in disorders track by item.disorder">
                                    </select>
                                    <button class="btn btn-sm btn-default btn-del"
                                            ng-click="selectedDisorders.splice($index,1)">
                                        Удалить
                                    </button>
                                </div>
                                <button class="btn btn-sm btn-default"
                                        ng-click="selectedDisorders.push(null);">
                                    Добавить
                                </button>
                            </div>
                            <div class="col-xs-12">Текстовое описание:
                                <textarea class="form-control" ng-model="survey.determinedDisorder" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class=" panel panel-default">
                        <div class="panel-heading">Программа</div>
                        <div class="panel-body" ng-init="getEducationProgramsList();">
                            <div class="col-xs-12 select-list-box">
                                <div ng-repeat="i in selectedPrograms">
                                    <select class="form-control select-list" data-ng-model="selectedPrograms[$index]"
                                            data-ng-options="item.program for item in programs track by item.program">
                                    </select>
                                    <button class="btn btn-sm btn-default btn-del"
                                            ng-click="selectedPrograms.splice($index,1)">
                                        Удалить
                                    </button>
                                </div>
                                <button class="btn btn-sm btn-default"
                                        ng-click="selectedPrograms.push(null);">
                                    Добавить
                                </button>
                            </div>
                            <div class="col-xs-12">Текстовое описание:
                                <textarea class="form-control" ng-model="survey.recommendedProgramOfEducation"
                                          rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" panel panel-default">
                        <div class="panel-heading">Рекомендации</div>
                        <div class="panel-body" ng-init="getRecommendationsList();">
                            <div class="col-xs-12 select-list-box">
                                <div ng-repeat="i in selectedRecommendations">
                                    <select class="form-control select-list"
                                            data-ng-model="selectedRecommendations[$index]"
                                            data-ng-options="item.recommendation for item in recommendations track by item.recommendation">
                                    </select>
                                    <button class="btn btn-sm btn-default btn-del"
                                            ng-click="selectedRecommendations.splice($index,1)">
                                        Удалить
                                    </button>
                                </div>
                                <button class="btn btn-sm btn-default"
                                        ng-click="selectedRecommendations.push(null);">
                                    Добавить
                                </button>
                            </div>
                            <div class="col-xs-12">Текстовое описание:
                                <textarea class="form-control" ng-model="survey.recommendedFormOfEducation"
                                          rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
