<!-- Survey controller scope -->
<div class="row" ng-controller="SurveyController" >

    <div class="col-xs-12" >

        <div>
            <ul class="nav nav-pills">
                <li role="presentation" ng-class="{'active': nav.surveysTabSelected == 1}"
                    ng-click="nav.surveysTabSelected = 1"><a href="#">Все</a></li>

                <li role="presentation" ng-class="{'active': nav.surveysTabSelected == 2}"
                    ng-click="nav.surveysTabSelected = 2; initSurvey(-1);"><a href="#">Новое обследование</a></li>

                <li role="presentation" ng-show="nav.surveysTabSelected == 3"
                    ng-class="{'active': nav.surveysTabSelected == 3}"
                    ng-click="nav.surveysTabSelected = 3"><a href="#">Редактирование</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" ng-class="{'active': nav.surveysTabSelected == 1}"
                     id="surveysAll">
                    @@include('./surveys-list.html')
                </div>

                <!-- Survey create -->
                <div ng-controller="ChildController" role="tabpanel" class="tab-pane"
                     ng-class="{'active': nav.surveysTabSelected == 2}"
                     id="surveyAdd">
                    @@include('./children-list-popup-window.html')
                    @@include('./survey-edit.html')
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-success"
                                    ng-click="submit();
                                        initEmptySurvey();
                                        getSurveysList(surveys.currentPage);
                                        nav.surveysTabSelected = 1">Сохранить
                            </button>
                            <button type="button" class="btn btn-warning"
                                    ng-click="initEmptySurvey()">Сброс
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="nav.surveysTabSelected = 1;
                                            initEmptySurvey();">Закрыть
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Survey edit -->
                <div role="tabpanel" class="tab-pane" ng-class="{'active': nav.surveysTabSelected == 3}" id="survey">
                    @@include('./survey-edit.html')
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-success"
                                    ng-click="submit();
                                          initEmptySurvey();
                                          getSurveysList(surveys.currentPage);
                                          nav.surveysTabSelected = 1">Сохранить
                            </button>

                            <button type="button" class="btn btn-danger"
                                    ng-click="nav.surveysTabSelected = 1;
                                            initEmptySurvey();">Закрыть
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of Survey controller scope -->
