<div class="container">
    <div class="panel panel-default">

        <div class="panel-heading">Ребенок  <span ng-bind="isSchoolchild" class="label label-info"></span></div>
        <div class="panel-body">
            <form name="surveyEditChild">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon">Фамилия:</span>
                            <input type="text" name="surname" ng-minlength="1" ng-required="true" class="form-control"
                                   placeholder="Фамилия"
                                   ng-model="surveys.currentSurvey.child.familyName"
                                   ng-blur="findChild(surveys.currentSurvey.child.familyName)">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Имя:</span>
                            <input type="text" name="name" ng-minlength="1" ng-required="true" class="form-control"
                                   placeholder="Имя"
                                   ng-model="surveys.currentSurvey.child.name">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Отчество:</span>
                            <input type="text" name="patrName" ng-minlength="1" ng-required="true" class="form-control"
                                   placeholder="Отчество"
                                   ng-model="surveys.currentSurvey.child.patrName">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Дата рождения:</span>
                            <input type="date" name="birthDate" ng-minlength="1" ng-required="true" class="form-control"
                                   placeholder="Фамилия"
                                   ng-model="surveys.currentSurvey.child.birthDate">
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon">Адрес:</span>
                            <input type="text" class="form-control" placeholder=""
                                   ng-model="surveys.currentSurvey.child.address">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Регион:</span>
                            <select class="form-control select-list"
                                    data-ng-model="surveys.currentSurvey.region"
                                    data-ng-options="item.region for item in regions"
                            >
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Учебное заведение:</span>
                            <input type="text" class="form-control" placeholder=""
                                   ng-model="surveys.currentSurvey.child.placeOfEducation">
                        </div>

                        <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" aria-label="..." ng-model="surveys.currentSurvey.child.disability">
                      </span>
                            <input type="text" class="form-control" aria-label="..." value="Инвалидность" disabled>
                        </div>
                        <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" aria-label="..."
                               ng-model="surveys.currentSurvey.child.specialFacilitiesNeeding">
                      </span>
                            <input type="text" class="form-control" aria-label="..."
                                   value="Нуждаемость в спец.средствах"
                                   disabled>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">ПМПК</div>
        <div class="panel-body">
            <form name="surveyEditSurvey">
                <div class="form-group col-lg-3">
                    <label for="protocolNumber" class="inputLabel">Номер протокола:</label>
                    <input type="text" name="protocolNumber" id="protocolNumber" ng-minlength="1" ng-required="true"
                               class="form-control" placeholder="" ng-model="surveys.currentSurvey.survey.protocolNumber">
                </div>
                <div class="form-group col-lg-3">
                    <label for="surveyDate" class="inputLabel">Дата обследования:</label>
                        <input type="date" name="surveyDate" id="surveyDate" ng-minlength="1" ng-required="true"
                               class="form-control" placeholder="" ng-model="surveys.currentSurvey.survey.surveyDate">
                </div>
                <div class="form-group col-lg-3">
                    <label for="nextSurveyDate" class="inputLabel">Повторное обследование:</label>
                    <input type="date" name="nextSurveyDate" id="nextSurveyDate" ng-minlength="1" ng-required="true"
                           class="form-control" placeholder="" ng-model="surveys.currentSurvey.survey.nextSurveyDate">
                </div>
                <div class="form-group col-lg-3">
                    <label for="surveyDate" class="inputLabel">Примечание:</label>
                    <input type="text" name="remark" id="remark" ng-minlength="1" ng-required="true"
                           class="form-control" placeholder="" ng-model="surveys.currentSurvey.survey.remarks">
                </div>
            </form>
            <div class="row">
                <div class="col-md-6">
                    <div class=" panel panel-default">
                        <div class="panel-heading">Диагноз</div>
                        <div class="panel-body">
                            <div class="col-xs-12 select-list-box">
                                <div ng-repeat="i in surveys.currentSurvey.selectedDiagnoses"> <!-- BUG IS HERE!!! -->
                                    <select class="form-control select-list"
                                            data-ng-model="surveys.currentSurvey.selectedDiagnoses[$index]"
                                            data-ng-options="item.diagnosis for item in diagnoses track by item.diagnosis">
                                    </select>
                                    <button class="btn btn-sm btn-default btn-del"
                                            ng-click="surveys.currentSurvey.selectedDiagnoses.splice($index,1)">
                                        Удалить
                                    </button>
                                </div>
                                <button class="btn btn-sm btn-default"
                                        ng-click="surveys.currentSurvey.selectedDiagnoses.push({});">
                                    Добавить
                                </button>
                            </div>
                            <div class="col-xs-12">Текстовое описание:
                                <textarea class="form-control" ng-model="surveys.currentSurvey.survey.diagnosis"
                                          rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" panel panel-default">
                        <div class="panel-heading">Выявленное нарушение</div>
                        <div class="panel-body">
                            <div class="col-xs-12 select-list-box">
                                <div ng-repeat="i in surveys.currentSurvey.selectedDisorders">
                                    <select class="form-control select-list"
                                            data-ng-model="surveys.currentSurvey.selectedDisorders[$index]"
                                            data-ng-options="item.disorder for item in disorders track by item.disorder">
                                    </select>
                                    <button class="btn btn-sm btn-default btn-del"
                                            ng-click="surveys.currentSurvey.selectedDisorders.splice($index,1)">
                                        Удалить
                                    </button>
                                </div>
                                <button class="btn btn-sm btn-default"
                                        ng-click="surveys.currentSurvey.selectedDisorders.push({});">
                                    Добавить
                                </button>
                            </div>
                            <div class="col-xs-12">Текстовое описание:
                                <textarea class="form-control"
                                          ng-model="surveys.currentSurvey.survey.determinedDisorder"
                                          rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class=" panel panel-default">
                        <div class="panel-heading">Программа</div>
                        <div class="panel-body">
                            <div class="col-xs-12 select-list-box">
                                <div ng-repeat="i in surveys.currentSurvey.selectedPrograms">
                                    <select class="form-control select-list"
                                            data-ng-model="surveys.currentSurvey.selectedPrograms[$index]"
                                            data-ng-options="item.program for item in programs track by item.program">
                                    </select>
                                    <button class="btn btn-sm btn-default btn-del"
                                            ng-click="surveys.currentSurvey.selectedPrograms.splice($index,1)">
                                        Удалить
                                    </button>
                                </div>
                                <button class="btn btn-sm btn-default"
                                        ng-click="surveys.currentSurvey.selectedPrograms.push({});">
                                    Добавить
                                </button>
                            </div>
                            <div class="col-xs-12">Текстовое описание:
                                <textarea class="form-control"
                                          ng-model="surveys.currentSurvey.survey.recommendedProgramOfEducation"
                                          rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" panel panel-default">
                        <div class="panel-heading">Рекомендации</div>
                        <div class="panel-body">
                            <div class="col-xs-12 select-list-box">
                                <div ng-repeat="i in surveys.currentSurvey.selectedRecommendations">
                                    <select class="form-control select-list"
                                            data-ng-model="surveys.currentSurvey.selectedRecommendations[$index]"
                                            data-ng-options="item.recommendation for item in recommendations track by item.recommendation">
                                    </select>
                                    <button class="btn btn-sm btn-default btn-del"
                                            ng-click="surveys.currentSurvey.selectedRecommendations.splice($index,1)">
                                        Удалить
                                    </button>
                                </div>
                                <button class="btn btn-sm btn-default"
                                        ng-click="surveys.currentSurvey.selectedRecommendations.push({});">
                                    Добавить
                                </button>
                            </div>
                            <div class="col-xs-12">Текстовое описание:
                                <textarea class="form-control"
                                          ng-model="surveys.currentSurvey.survey.recommendedFormOfEducation"
                                          rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
